/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run UHVDB/nucleotidecluster -profile test_mcl,<docker/singularity>

----------------------------------------------------------------------------------------
*/

process {
    resourceLimits = [
        cpus: 4,
        memory: '7.GB',
        time: '1.h',
    ]
}

params {
    config_profile_name         = 'Test creating a new UHBDB directory'
    config_profile_description  = 'Minimal test dataset to check pipeline function.'

    // Input data
    input           = "/gscratch/pedslabs_hoffman/carsonjm/CFPhageome/repos/UHVDB/uhbdb_updater/assets/test-datasets/samplesheets/test_new.tsv"
    large_threshold = 100
    cluster_ani     = 0.9999
    output_dir      = "results_test_new"
    tmp_dir         = "tmp_test_new"
}
