params {
    config_profile_description = "Example config profile used for the University of Washington's Hyak HPC."
    config_profile_contact = 'Carson J. Miller (@CarsonJM)'
    config_profile_url = 'https://hyak.uw.edu/'
    resourceLimits = [
        cpus: 16,
        memory: '100.GB',
        time: '24.h'
        ]
    hyak_partition  = 'stf'
    hyak_queue      = 'ckpt'
}

process {
    executor            = 'slurm'
    clusterOptions      = "-A ${params.hyak_partition} --requeue"
    containerOptions    = "-B /mmfs1/ -B /gscratch/"
    queue               = { ( task.time <= '5.h' as Duration ) ? "${params.hyak_queue}" : 'compute' }
    errorStrategy       = { (task.attempt < 3) ? 'retry' : 'finish' }
    maxRetries          = 2
    maxErrors           = '-1'

    withLabel: 'process_gpu' {
        clusterOptions  = { task.attempt == 1 ? "-A stf --requeue --gpus=1" : "-A stf --requeue --gpus-per-node=a40:1" }
        queue           = 'ckpt'
        containerOptions= "--nv"
    }
}

executor {
    queueSize = 100
    submitRateLimit = '1 sec'
}

singularity {
    enabled     = true
    autoMounts  = true
    pullTimeout = 60.min
    cacheDir    = "${params.output_dir}/.singularity-cache/"
}

conda {
    enabled         = true
    useMicromamba   = true
    createTimeout   = 120.min
    cacheDir        = "${params.output_dir}/.conda-cache/"
}
